@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/MyStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
</head>
<body>
    <header>
        <div class="d-flex justify-content-md-between p-md-3 text-white" style="background: #57233e">
            <div class="d-sm-inline-flex ml-md-5">
                @if (User.IsInRole(ImageManager.MVC.Constants.UserRoles.User))
                {
                    <a asp-action="Index" asp-controller="Home" class="text-white m-2" id="homeLink">@Localizer["BasePage"]</a>
                    <a asp-action="History" asp-controller="Home" class="text-white m-2" id="historyLink">@Localizer["HistoryPage"]</a>
                }
                @if (User.IsInRole(ImageManager.MVC.Constants.UserRoles.Admin))
                {
                    <a asp-action="ShowAll" asp-controller="User" class="text-white m-2" id="usersLink">@Localizer["UsersPage"]</a>
                    <a asp-action="GetAll" asp-controller="Notification" class="text-white m-2" id="notificationLink">@Localizer["NotificationPage"]</a>
                }
            </div>

            <div class="d-sm-inline-flex pr-md-5">
                @await Html.PartialAsync("_SelectLanguagePartial")
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Show" asp-controller="Profile" class="text-white m-2" id="profileLink">@User.Identity.Name</a>
                    <a asp-action="Logout" asp-controller="Account" class="text-white m-2" id="logoutLink">@Localizer["LogoutAction"]</a>
                }
                else
                {
                    <a asp-action="Login" asp-controller="Account" class="text-white m-2" id="loginLink">@Localizer["LoginPage"]</a>
                    <a asp-action="Register" asp-controller="Account" class="text-white m-2" id="registerLink">@Localizer["RegisterPage"]</a>
                }
            </div>
        </div>
    </header>
    <div class="">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - @Localizer["SiteTextFooter"] - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Policy"].</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/MyScripts.js"></script>
    <script src="~/js/Localization.js"></script>
    <script src="~/js/.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>                     
            