<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/MyStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="d-flex justify-content-md-between p-md-3 text-white" style="background: #57233e">
            <div class="d-sm-inline-flex ml-md-5">
                @if (User.IsInRole(ImageManager.MVC.Constants.UserRoles.User))
                {
                    @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "text-white m-2", id = "homeLink" })
                }
                @if (User.IsInRole(ImageManager.MVC.Constants.UserRoles.Admin))
                {
                    @Html.ActionLink("Пользователи", "ShowAll", "User", null, new { @class = "text-white m-2" })
                }
            </div>

            <div class="d-sm-inline-flex pr-md-5">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink(User.Identity.Name, "Show", "Profile", null, new { @class = "text-white m-2", id = "profileLink" })
                    @Html.ActionLink("Выход", "Logout", "Account", null, new { @class = "text-white m-2", id = "logoutLink" })
                }
                else
                {
                    @Html.ActionLink("Вход", "Login", "Account", new { }, new { @class = "text-white m-2", id = "loginLink" })
                    @Html.ActionLink("Регистрация", "Register", "Account", new { }, new { @class = "text-white m-2", id = "registerLink" })
                }
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Создание картинок - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика Конфиденциальности.</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
