@model ImageManager.MVC.ViewModels.EditUserViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["UserEditing"];
}

<div class="row justify-content-center">
    <div class="text-center pt-md-2 mt-md-2">
        <div class="mb-3">
            <h2>@Localizer["UserEditing"]</h2>
        </div>
        <br />
        <div class="border border-secondary rounded bg-white">
            @using (@Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "text-danger small" })
                <div class="form-group pl-md-5 pr-md-5 pt-md-3 pb-md-2 text-md-left">
                    <input type="hidden" value="@Model.Id" name="Id" />
                    <div class="pt-md-1">
                        @Html.LabelFor(model => model.LastName, Localizer["Surname"].Value, new { @class = "small" })<br />
                        @Html.TextBoxFor(model => model.LastName, null, new { style = "width: 320px;" })<br />
                        @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger small" })
                    </div>
                    <div class="pt-md-2">
                        @Html.LabelFor(model => model.FirstName, Localizer["FirstName"].Value, new { @class = "small" })<br />
                        @Html.TextBoxFor(model => model.FirstName, null, new { style = "width: 320px;" })<br />
                        @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger small" })
                    </div>
                    <div class="pt-md-2">
                        @Html.LabelFor(model => model.Email, Localizer["Email"].Value, new { @class = "small" })<br />
                        <input type="email" name="email" asp-for="Email" style="width: 320px;" /><br />
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger small" })
                    </div>
                    <div class="row pt-md-2 mt-2 justify-content-around">
                        @Html.LabelFor(model => model.IsAdmin, Localizer["AdminRole"].Value, new { @class = "small pl-3 mr-4" })
                        @Html.CheckBoxFor(model => model.IsAdmin, new { @class = "form-control pr-3 mr-4", style = "width:20px; height:20px;" })
                    </div>
                    <div class="row pt-md-2 justify-content-around">
                        @Html.LabelFor(model => model.IsUser, Localizer["UserRole"].Value, new { @class = "small pl-3 mr-4" })
                        @Html.CheckBoxFor(model => model.IsUser, new { @class = "form-control pr-3 mr-4", style = "width:20px; height:20px;" })
                    </div>
                    <div class="pt-md-4 text-center">
                        <button class="btn btn-outline-info mr-sm-4" onclick="backOrClose();">@Localizer["CancelButton"].Value</button>
                        <input type="submit" class="btn btn-outline-success ml-sm-4" value="@Localizer["EditButton"].Value" \>
                    </div>
                </div>
            }
        </div>
        <br />
        <br />
    </div>
</div>
