@model IEnumerable<ImageManager.MVC.ViewModels.UserWithRolesInfoViewModel>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Users"];
}

<div class="col">
    <div class="text-center m-sm-1">
        <p class="display-4">@Localizer["Users"]</p>
        <p>
            @Localizer["TextBeforeCreateAction"] <b>
            <a asp-action="Create" asp-controller="User" title="@Localizer["CreateActionTitle"]">@Localizer["CreateAction"]</a>
            </b>  @Localizer["TextAfterCreateAction"].
        </p>
    </div>
    <br />
    <div>
        <table class="table">
            <tr class="font-weight-bold text-center text-secondary justify-content-between">
                <td style="width:20vw">@Localizer["Email"]</td>
                <td style="width:20vw">@Localizer["Name"]</td>
                <td style="width:10vw">@Localizer["AdminRole"]</td>
                <td style="width:10vw">@Localizer["UserRole"]</td>

                <td style="width:10vw"></td>
                <td style="width:10vw"></td>
                <td style="width:10vw"></td>
                <td style="width:10vw"></td>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="text-black-50">
                    <td class="text-sm-center" title="@Localizer["EmailTitle"]">
                        <a asp-action="ShowImage" asp-controller="User" asp-route-userId="@item.Id">@item.Email</a>
                    </td>
                    <td class="text-sm-center">@item.FullName</td>
                    <td class="text-sm-center">@(item.IsAdmin ? @Localizer["Yes"].Value : @Localizer["No"].Value)</td>
                    <td class="text-sm-center">@(item.IsUser ? @Localizer["Yes"].Value : @Localizer["No"].Value)</td>
                    @if (User.Identity.Name != item.Email)
                    {
                        @if (item.IsUser)
                        {
                            @if (item.HasSubscription)
                            {
                                <td title="@Localizer["UnsubscribeTitle"]" class="text-sm-center">
                                    <a class="btn btn-subscribe" asp-action="Unsubscribe" asp-controller="User" asp-route-userId="@item.Id">@Localizer["Unsubscribe"]</a>
                                </td>
                            }
                            else
                            {
                                <td title="@Localizer["SubscribeTitle"]" class="text-sm-center">
                                    <a class="btn btn-subscribe" asp-action="Subscribe" asp-controller="User" asp-route-userId="@item.Id">@Localizer["Subscribe"]</a>
                                </td>
                            }
                        }
                        else
                        {
                            <td title="@Localizer["YouCanNotSubscribe"]"></td>
                        }

                        @if (item.IsActive)
                        {
                            <td title="@Localizer["DeactivateTitle"]" class="text-sm-center">
                                <a class="btn btn-deactivate" asp-action="Deactivate" asp-controller="User" asp-route-userId="@item.Id">@Localizer["Deactivate"]</a>
                            </td>
                        }
                        else
                        {
                            <td title="@Localizer["ActivateTitle"]" class="text-sm-center">
                                <a class="btn btn-activate" asp-action="Activate" asp-controller="User" asp-route-userId="@item.Id">@Localizer["Activate"]</a>
                            </td>
                        }

                        <td class="text-sm-center">
                            <a class="btn btn-outline-info" asp-action="Edit" asp-controller="User" asp-route-userId="@item.Id">@Localizer["EditButton"]</a>
                        </td>
                        <td class="text-sm-center">
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="User" asp-route-userId="@item.Id">@Localizer["DeleteButton"]</a>
                        </td>
                    }
                    else
                    {
                        <td title="@Localizer["CanNotSubscribeYourself"]"></td>
                        <td title="@Localizer["CanNotActivateYourself"]"></td>
                        <td title="@Localizer["CanNotEditYourself"]"></td>
                        <td title="@Localizer["CanNotDeleteYourself"]"></td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
